<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>local.kansolendar.vault</string>
			<key>UTTypeDescription</key>
			<string>Kansolendar Encrypted Calendar Vault</string>
			<key>UTTypeConformsTo</key>
			<array><string>public.data</string></array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array><string>kanso</string></array>
				<key>public.mime-type</key>
				<string>application/vnd.kansolendar.vault</string>
			</dict>
		</dict>
	</array>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Kansolendar Vault</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array><string>local.kansolendar.vault</string></array>
		</dict>
	</array>
</dict>
</plist>
